@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(44, 42, 42);
    color: white;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.281);
    width: 400px;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}